{%- set emptyKeys = [] %}
{%- for k,v in lacework_agent.items() %}
  {%- if v is not defined or v == "" %}
    {%- set _dummy=emptyKeys.append(k) %}
  {%- endif %}
  {%- if v is mapping %}
    {%- set vEmptyKeys = [] %}
    {%- for k1,v1 in v.items() %}
      {%- if v1 is not defined or v1 == "" %}
        {%- if k != "cmdlinefilter" or not (k1 == "disallow" and v.allow is defined and v.allow != "") %}
          {%- set _dummy=vEmptyKeys.append(k1) %}
        {%- endif %}
      {%- endif %}
    {%- endfor %}
    {%- for x in vEmptyKeys %}
      {%- set _dummy=v.pop(x) %}
    {%- endfor %}
    {%- if v.items() | length == 0 %}
      {%- set _dummy=emptyKeys.append(k) %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{%- for x in emptyKeys %}
  {%- set _dummy=lacework_agent.pop(x) %}
{%- endfor %}
{%- if lacework_agent.fim is defined and lacework_agent.fim.items() | length == 0 %}
  {%- set _dummy=lacework_agent.pop('fim') %}
{%- endif %}
{%- if lacework_agent.cmdlinefilter is defined and lacework_agent.cmdlinefilter.items() | length == 0 %}
  {%- set _dummy=lacework_agent.pop('cmdlinefilter') %}
{%- endif %}
{%- if lacework_agent_config_pretty_print | bool %}
{{ lacework_agent | to_nice_json(indent=2) }}
{%- else %}
{{ lacework_agent | tojson }}
{%- endif %}
